/* variables */
html {
  height: 100%;
}
body {
  background: #f0f8ff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  position: relative;
  min-height: 90%;
  padding-bottom: 60px;
}
footer {
  background-color: #270c40;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f0f8ff;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}
h1 {
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
}
.inputFormat {
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #551a8b;
  border-radius: 4px;
  width: 30%;
  display: block;
}
.pageHeader {
  text-align: center;
  font-size: 2.5em;
}
/* header menu formatting */
.headerMenu {
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
}
.headerMenu li {
  display: inline;
  padding: 0 30px;
}
.headerMenu a {
  text-decoration: none;
  color: #551a8b;
}
.headerMenu a:hover {
  color: #270c40;
}
.buttonFormat {
  font-size: 0.7em;
  color: #551a8b;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  background-color: #99cfff;
  text-decoration: none;
  border: 0;
}
.editButtons {
  display: inline;
}
.editButtons .buttonFormat {
  margin: 2px;
}
.buttonFormat:hover {
  background-color: #66b8ff;
}
.contentHeader {
  font-size: 1em;
  font-weight: bold;
}
.contentInfo {
  width: 50%;
  font-size: 0.8em;
}
.leadershipName {
  font-size: 1.1em;
  font-weight: bold;
  color: #551a8b;
}
.leadershipRole {
  font-style: italic;
  font-weight: normal;
}
.leadershipDesc {
  width: 50%;
}
.leadershipEmail {
  font-style: italic;
  border-bottom: 1px solid #ddd;
}
.imageOne {
  width: 51%;
}
.imageTwo {
  width: 25%;
  padding-right: 1%;
}
/* responsive */
@media all and (max-width: 640px) {
  .inputFormat {
    width: 90%;
  }
  .pageHeader {
    font-size: 1.3em;
  }
  .headerMenu {
    padding-left: 2%;
    text-align: center;
  }
  .headerMenu li {
    font-size: 0.7em;
    padding: 0 2%;
  }
  .contentInfo {
    width: 100%;
  }
  .editButtons .buttonFormat {
    width: 60px;
  }
  .imageOne {
    width: 90%;
  }
  .imageTwo {
    width: 90%;
  }
  .leadershipDesc {
    width: 90%;
  }
  footer {
    font-size: 0.7em;
  }
}
